/* SETUP */


*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
}



/* APP */


.app {
    max-width: 38rem;
    margin: 0 auto;
}


/* TITLE */

.title {
    padding: 1rem 0;
    text-align: center;
}

.title > h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}



/* CLOCKS */


.clocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.clock {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 1rem;
}

.clock-label {
    font-size: 14px;
}

.clock-time {
    font-size: 36px;
}

.clock-unit {
    font-size: 22px;
}



/* DESCRIPTION */


.description {
    padding: 1rem;
    font-size: 18px;
    line-height: 1.5;
}

.description > p {
    margin: 0;
}



/* BUTTONS */


.buttons-outer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.buttons-inner {
    margin: 0 auto;
    max-width: 26rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    border-radius: 34px 34px 0 0;
    background-color: white;
    -webkit-transition: padding 280ms, background-color 170ms;
    transition: padding 280ms, background-color 170ms;
}

.button-on {
    background-color: #C5DAFF;
    padding-bottom: 12px;
}

.button-icon {
    margin-top: 0.5rem;
    padding: 34px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
}

.button:nth-of-type(1) > .button-icon {
    background-image: url("/images/icons/flag.svg");
}

.button:nth-of-type(2) > .button-icon {
    background-image: url("/images/icons/flower.svg");
}

.button:nth-of-type(3) > .button-icon {
    background-image: url("/images/icons/checked.svg");
}

.button:nth-of-type(4) > .button-icon {
    background-image: url("/images/icons/alert.svg");
}


.button-label {
    font-size: 14px;
    padding: 1rem 0;
}



/* DESKTOP */


@media screen and (min-width: 38rem) {
    .clock {
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
    }
    .clock-label {
        font-size: 14px;
    }

    .clock-time {
        font-size: 48px;
    }

    .clock-unit {
        font-size: 28px;
    }
}
